/* =========================
   1. Variables y modo oscuro
   ========================= */
   :root {
    --background: #474747; /* Fondo por defecto */
    --foreground: #000000; /* Texto por defecto */
    
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1f1f1f; 
      --foreground: #101010db;
    }
  }
  
  /* =========================
     2. Reset y estilos globales
     ========================= */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Control del modo oscuro nativo */
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  /* =========================
     3. Estructura base
     ========================= */
  html,
  body {
    height: 100%;
    max-width: 100vw; /* Evita scroll horizontal */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--foreground);
  }
  
  /* =========================
     4. Elementos y etiquetas
     ========================= */
  a {
    color: inherit;
    text-decoration: none;
    color: #000000;
  }
  
  a img {
    margin-top: 0;
    transition: transform 0.2s ease-in-out;
    width: 80px;
    height: 50px;
    text-align: left;
    color: #000;
  }
  
  /* =========================
     5. Main
     ========================= */
  main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* =========================
     6. Header
     ========================= */
  header {
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
  }
  
  header h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  header h3 {
    color: #9ca4ab;
    font-size: 1rem;
    margin: 0;
  }
  
  /* =========================
     7. Footer
     ========================= */
  footer {
    text-align: center;
    color: #ffebc1;
    background-color: #000;
    font-size: 0.9rem;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    width: 100%;
    position: fixed;
    bottom: 0;

  }
  