
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #474747;
  color: #051220;
}


header {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #dee2e6;
}

header h1 {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header h3 {
  text-align: center;
  color: #9ca4ab;
  font-size: 1rem;
  margin: 0;
}

main {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 40%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 40%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}

footer {
  text-align: center;
  color: #ffebc1;
  background-color: #000000;
  font-size: 0.9rem;
  padding: 10px;
  border-top: 1px solid #dee2e6;
  width: 100%;
  margin-bottom: 0%;
  margin-left: 0%;
}
.home-logo {
  width: 60px;
  height: auto;
  margin-right: 16px; 
  border-radius: 50px; 
}

a img {
  margin-top: 0;
  transition: transform 0.2s ease-in-out;
  width: 80px;
  height: 50px;
  text-align: left;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #000;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: #ffebc1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ffebc1;
  color: black;
}

.navbar a.active {
  background-color: #ff6600;
  color: white;
  font-weight: bold;
}

.navbar a.home:hover {
  background-color: inherit;
  color: inherit; 
  text-decoration: none; 
}
.content {
  padding: 16px;
}
